<div style="margin-top: 1%;">
  <form [formGroup]="formUsuario" (ngSubmit)="consultarPantera()">
    <p>Ingrese el ID de usuario:</p>
    <div class="formGroup formularioRegistro">
      <div>
        <label>ID</label>
        <input type="number" formControlName="id" class="formControl">
      </div>
    </div>
    <button type = "submit" class="boton editar btn-icon-split" [disabled]="formUsuario.invalid" style = "margin-left: 40%; margin-top: 2%;">Ingresar</button>
  </form>
<button type="button" class="btn btn-primary boton" (click) = "mostrarInformacionUsuario()">Consultar</button>
</div>
