<html>
  <head>
    <link rel="stylesheet" href = "app.component.css">
  </head>
  <body>
  <h1>Bienvenido al Sistema de la Registraduria Nacional de Wakanda</h1>
  <a href="https://www.javeriana.edu.co">Pagina de la Universidad</a>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pantera of panteras">
          <td>{{pantera.id}}</td>
          <td>{{pantera.nombre}}</td>
          <td>
            <p class="boton eliminar btn-icon-split">Eliminar</p>
            <p class="boton editar btn-icon-split">Editar</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
