h1 {
  color: rgb(0, 140, 255);
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: inline-block;
  box-sizing: content-box;
  border-color: #04AA6D;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 4px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

div {
  background-color: white;
  padding-left: 32%;
  padding-right: 32%;
}

body {
  background-color: beige;
}

.eliminar {
  color: #fff;
  background-color: #e74a3b;
  border-color: #e74a3b;
  text-shadow: 0px 1px 0px #810e05;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
}

.editar {
  color: #fff;
  background-color: #36b9cc;
  border-color: #36b9cc;
  text-shadow: 0px 1px 0px #180581;
  background: linear-gradient(to bottom, #36b9cc 5%, #180581 100%);
}

.boton {
  border-radius: 18px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  margin: 0 5px 0 5px;
  text-align: center;
}

.formularioRegistro{
  padding-left: 10%;
  padding-right: 20%;
  align-items: center;
}
.barra {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0px;
  cursor: pointer;
  background-color: rgb(87, 49, 239);
}
.nav-list li a:hover {
  color: rgb(0, 242, 61);
}

.nav-list {
  width: 80%;
  display: flex;
}

.nav-list li {
  list-style: none;
  padding: 10px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: black;
}