<html>


  <link rel="stylesheet" href="app.component.css">
  <nav class="barra navegacion">
    <ul class="nav-list">
        <li><a href="/pantera">panteras</a> </li>
        <li><a href="/armas">armas</a></li>
       
    </ul>
    
</nav>


<body>
  
  <div style="margin-top: 10%;">
    <form [formGroup]="panteraForm" (ngSubmit)="guardarPantera()">
      <h1>Ingresar nueva Pantera:</h1>
      <div class="formGroup formularioRegistro">
        <div>
          <label>ID</label>
          <input type="text" formControlName="id" class="formControl">
        </div>
        <div>
          <label>Nombre</label>
          <input type="text" formControlName="name" class="formControl">
        </div>
        <div>
          <label>email</label>
          <input type="text" formControlName="email" class="formControl">
        </div>
        <div>
          <label>tribe</label>
          <input type="text" formControlName="tribe" class="formControl">
        </div>
      </div>
      <button type = "submit" class="boton editar btn-icon-split" [disabled]="panteraForm.invalid" style = "margin-left: 40%; margin-top: 2%;">Guardar</button>
    </form>
  </div>
  <h1 style = "margin-top: 10%;">Gracias por hacer uso de nuestros servicios.</h1>
</body>

</html>
<router-outlet></router-outlet>