
table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: inline-block;
    box-sizing: content-box;
    border-color: #04AA6D;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(5, 31, 115);
    color: white;
  }